.choice-single-product-recruitment {
  .commonTable {
    .dataTable {
      padding-bottom: 0;
    }
  }
}

.newWorkLayout-header {
  margin-bottom: 12px !important;
}

.iconSelected {
  .iconStyle {
    .next-icon.next-medium:before {
      font-size: 14px;
    }
  }
}

.choice-business-opportunity-demand {
  margin-bottom: 12px !important;
}