.cross-border-dialog {
  .next-dialog-header {
    padding: 20px 20px 0 20px !important;
  }
  .next-dialog-body {
    padding: 20px 20px 0 20px !important;
  }
  .next-dialog-footer {
    padding: 20px 20px 20px 20px !important;
  }
}