.sortOptions {
  display: flex;
  gap: 8px;
  cursor: pointer;
  .sortItem {
    display: flex;
    align-items: center;
    padding: 3px 6px;
    gap: 2px;
    border-radius: 4px;
    background: var(--fill-primary);
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: normal;
    color: var(--text-main);
  }
  .sortItemActive {
    background: var(--fill-accent);
    color: var(--text-accent);
    .sortArrow path { fill: var(--text-white); }
    .sortArrowActive { color: red; path { fill: red; fill-opacity: 1; } }
  }
  .sortArrows {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 2px;
    .sortArrow {
      display: flex;
      pointer-events: none;
      color: var(--sub-font-color);
      path { fill: var(--sub-font-color); fill-opacity: 1; }
      &.sortArrowActive {
        color: #fff;
        path { fill: #fff; fill-opacity: 1; }
      }
    }
    .sortArrowAsc {
      rotate: 180deg;
    }
  }
}