
.next-radio-button-medium > label:first-child {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.next-radio-group .next-radio-wrapper:last-child {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}