.promptList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;

  .hotWordItem {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    max-width: 290px;
    height: 34px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 20px;
    color: var(--block-color);
    background: rgba(6, 7, 23, 0.6);
    border: 1px solid rgba(40, 42, 55, 0.8);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    cursor: pointer;

    &:hover {
      background: rgba(18, 20, 52, 0.8);
      box-shadow: 0px 8px 20px 0px #191b3e;
    }

    .promptListIcon {
      flex-shrink: 0;
      width: 14px;
      height: 14px;
      background-color: var(--block-color);
      mask: var(--icon-url) no-repeat center / contain;
    }

    .promptListText {
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

[data-theme="light"] {
  .promptList .hotWordItem {
    background-color: var(--block-bg);
    border: var(--block-border);

    &:hover {
      background: #fff;
      box-shadow: 1px 4px 16px 0px rgba(187, 189, 202, 0.2);
    }
  }
}
