.summaryContainer {
  border-radius: 12px;
  // padding: 8px 16px;
  width: 100%;
  box-sizing: border-box;

  &.productSummaryContainer {
    padding: 16px;
    background: #FBFBFD;
  }

  .titleSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 12px;
  }

  .dot {
    border-radius: 3px;
    background: #6E50FF;
    width: 6px;
    height: 6px;
  }

  .titleText {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #1B1C1D;
    white-space: nowrap;
  }

}