.select-rounded {
  .next-input.next-medium {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }
}

.products-business-tooltips {
  .next-balloon-arrow-content {
    background-color: #333 !important;
  }
}

.commonTable {
  .c-itemBlock.hasBorder {
    padding: 0;
    margin-top: 16px;
  }
}

.next-number-picker-normal .next-input {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}