.message-title {
  /* 标题类/16px - H2标题/Bold - 单行 */
  font-family: PingFang SC;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: normal;
  /* 文字/文字 - 常规 - #333333 */
  color: #333;
  margin-bottom: 8px;
}