.supplierAddContent {
  display: flex;
  flex-direction: column;
  gap: 16rpx;
  margin-top: 16rpx;
  height: calc(100vh - 200rpx); // 减去顶部和底部的高度
  overflow: hidden;
  :global(.ant-input) {
    &::placeholder {
      color: #BBBDCA;
    }
  }
}

.supplierAddList {
  display: flex;
  flex-direction: column;
  gap: 16rpx;
  flex: 1;
  overflow-y: auto;
  padding-bottom: 16rpx;
  
  // 美化滚动条（针对 webkit 浏览器）
  &::-webkit-scrollbar {
    width: 4rpx;
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2rpx;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.loadingText {
  text-align: center;
  font-size: 12rpx;
  color: var(--text-tertiary);
  padding: 12rpx 0;
}

.footerBtnContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10rpx 12rpx 18rpx 12rpx;
  gap: 10rpx;
  background: var(--fill-white);
  border: none;
  display: flex;
  flex-direction: column;
  
  button[class*='mainBtn'] {
    width: 100%;
    height: 40rpx;
    font-size: 14rpx !important;
    line-height: 20rpx !important;
    padding: 8rpx 12rpx !important;
    border-radius: 8rpx !important;
    border-color: aliceblue;
  }
  
  :global(.anticon) {
    font-size: 14rpx !important;
  }
}

.selectedCount {
  display: flex;
  gap: 8rpx;
  padding-bottom: 8rpx;
  max-height: 120rpx;
  overflow-y: auto;
  
  // 隐藏滚动条
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

.messageContactContent {
  display: flex;
  align-items: center;
  gap: 4rpx;
}

.messageContactMask {
  :global(.adm-toast-wrap .adm-toast-main) {
    max-width: 100%;
  }
}

.selectedSupplierItem {
  width: 140rpx;
  height: 34rpx;
  display: flex;
  align-items: center;
  padding: 8rpx;
  gap: 4rpx;
  font-family: PingFang SC;
  font-size: 13rpx;
  font-weight: normal;
  line-height: 18rpx;
  letter-spacing: normal;
  color: var(--text-primary);
  border-radius: 4rpx;
  background: var(--fill-primary);
  
  svg {
    flex-shrink: 0;
    cursor: pointer;
    width: 14rpx;
    height: 14rpx;
  }
}

.selectedSupplierItemText {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entry {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: PingFang SC;
  font-size: 14rpx;
  font-weight: normal;
  line-height: 20rpx;
  letter-spacing: normal;
  color: var(--text-tertiary-4);
  text-align: center;
}