.joined-bcproducts-table {
  .pagination-content {
    display: flex;
    justify-content: flex-end;
    padding: 24px 20px 20px 0;
  }
}

.filter {
  background-color: #fff;
}

.searchFilter {
  padding: 20px 20px 0 20px;

  .searchButtonRow {
    display: flex;
    justify-content: flex-end;
  }

  .searchButtons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;

    .Btn {
      margin-left: 20px;
    }
  }
  .next-form.next-inline {
    .next-col {
      &:last-of-type {
        .next-form-item {
          margin-right: 0;
        }
      }

      .next-form-item {
        display: flex;
        margin-right: 40px;
        --form-label-padding-r: 12px;

        .next-form-item-control {
          flex: 1;

          >span {
            width: 100%;
          }
        }
      }
    }
  }
}

.bidding-table {
  margin: 0 20px 0 20px;

  .next-table-cell-wrapper {
    padding: 16px 12px !important;
  }
}

.baseInfo-cell {
  height: 84px;

  .bcproducts-card-top {
    display: flex;

    .bcproducts-card-img {
      width: 56px;
      height: 56px;
      margin: 0 10px 12px 0;
      border-radius: 2px;
    }

    .bcproducts-card-top-right {
      display: flex;
      justify-content: space-between;

      .bcproducts-card-center-title {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .bcproducts-card-title {
        font-size: 13px;
        letter-spacing: 0;
        max-width: 214px;
      }

      .bcproducts-card-tag {
        width: 68px;
        min-width: 68px;
        height: 18px;
        background: linear-gradient(108deg, #ff8503 0%, #ff5b00 100%);
        border-radius: 3.43px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        float: left;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
      }

      .bcproducts-card-text {
        display: block;
        line-height: 18px;
        font-size: 13px;
      }

      .bcproducts-card-rest-time {
        display: flex;
        color: #bbb;
        margin-top: 2px;
      }
    }

    .bcproducts-card-describe-content {
      display: flex;
      align-items: center;
      font-size: 13px;

      .bcproducts-card-describe {
        margin-right: 6px;
        font-size: 13px;
        color: #999;
      }

      .bcproducts-card-describe-id {
        font-size: 13px;
        color: #999;
      }
    }
  }
}

.demand-cell {
  .bcproducts-card-top {
    display: flex;
    height: 84px;
  }

  .bcproducts-card-img {
    width: 56px;
    height: 56px;
    border-radius: 2px;
    margin: 0 10px 12px 0;
  }

  .bcproducts-card-top-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 13px;

    .bcproducts-card-describe-title {
      display: flex;
    }

    .bcproducts-card-describe-bottom {
      color: #999;
    }
  }
}

.action-cell {
  color: #07f;
  font-size: 13px;
}

.action-cell:hover {
  color: #659fe1;
}

.action-replenish-button {
  margin-bottom: 8px;
  color: #07f;
  font-size: 13px;
}

.action-replenish-button:hover {
  color: #659fe1;
}

.result-cell {
  display: inline-flex;
  align-items: center;
}

.information-cell {
  color: #999;
  font-size: 13px;

  .information-cell-content {
    display: flex;
    align-items: center;

    .information-cell-id {
      display: flex;
    }
  }
}

.submit-result-cell {
  font-size: 13px;
  display: flex;
  align-items: center;

  .red-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 4px;
    background-color: red;
  }

  .result-cell {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 4px;
  }

  .green-dot {
    background-color: #25be13;
  }

  .orange-dot {
    background-color: #ff7300;
  }

  .gray-dot {
    background-color: #999;
  }
}

.bidding-table-empty {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}