.sample-history {
  padding: 20px;
  background: #fff;
  margin-top: 16px;

  .history-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0;
    color: #333;
  }

  .history-table {
    // margin-top: 16px;
  }

  .sample-basic-layout {
    padding: 0 !important;
  }
}