.bcproducts-list-content {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .bcproducts-card-content {
    flex-basis: calc(50% - 6px);
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 12px;
    background-color: #fff;
    border: 1px solid rgba(229, 229, 229, 0.6);

    .bcproducts-card-top {
      display: flex;
    }

    .bcproducts-card-img {
      width: 80px;
      height: 80px;
      margin: 0 10px 12px 0;
    }

    .bcproducts-card-top-right {
      height: 80px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .bcproducts-card-center-title {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .bcproducts-card-title {
        min-width: 267px;
      }

      .bcproducts-card-tag {
        width: 68px;
        min-width: 68px;
        height: 18px;
        background: linear-gradient(108deg, #ff8503 0%, #ff5b00 100%);
        border-radius: 3.43px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        float: left;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
      }
      .bcproducts-card-text {
        display: block;
        line-height: 18px;
        font-size: 13px;
      }
    }

    .bcproducts-card-dashed {
      border: 1px dashed #e5e5e5;
    }

    .bcproducts-card-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 12px 0 12px 0;
      .bcproducts-card-describe-title {
        display: flex;
        align-items: center;
        margin-right: 24px;
        color: #ff7300;
      }
    }

    .bcproducts-card-describe-content {
      display: flex;
      align-items: center;
      font-size: 13px;

      .bcproducts-card-describe {
        margin-right: 6px;
        font-size: 13px;
        color: #999;
      }

      .bcproducts-card-describe-id {
        font-size: 13px;
        color: #999;
      }
    }

    .bcproducts-card-describe-bottom {
      font-size: 13px;
      color: #333;
      display: inline-block;
    }

    .bcproducts-card-line {
      position: relative;
      margin: 4px; /* 根据需要调整与文字之间的距离 */
    }

    .bcproducts-card-line::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 10px;
      background-color: #ddd;
    }

    .bcproducts-business-describe-div {
      font-size: 13px;
    }
    .bcproducts-card-submit {
      font-size: 12px;
      height: 24px;
      text-align: center;
    }
  }

  .dataTable-content-page {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.empty-state {
  width: 100%;
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #666;
  font-size: 16px;
  .empty-state-title {
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }
}
