.custom-success-message {
  .next-message-symbol-icon {
    display: none !important;
  }
  .next-message-content {
    padding: 0 !important;
  }
}

.next-checkbox-label {
  margin: 0;
}

.next-dialog-body {
  padding: 20px!important;
}
