.next-form-preview.next-form-preview {
  font-size: 14px;
  color: #333;
}

.next-select .next-select-inner .next-tag {
  line-height: normal;
}

.qualityControlCert {
  align-items: baseline !important;
  .next-checkbox-group .next-checkbox-wrapper {
    margin-bottom: 16px;
    width: 116px;
    .next-checkbox-label {
      margin-right: 0;
    }
  }
}

.erpName {
  display: flex;
  margin-left: 0;
}

.common-dialog {
  .label {
    width: 110px;
  }
}

.table-style {
  width: 100%;
}

.informationLevel {
  display: block;
}

.fieldClassNameinformationLevel {
  margin-bottom: 12px;
}