.taskDuration {
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal;
    /* Text/Secondary */
    /* 样式描述：三级 */
    color: #7c7f9a;
    margin-left: 8px;
}
