.inputContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  justify-content: center;
  align-items: center;
  height: 112rpx;
  width: 100%;
  border-radius: 24rpx;
  background: var(--fill-white);
  box-sizing: border-box;
  position: relative;
  border: 1px solid #EEEFFE;
}

.boxShadow {
  z-index: -1;
  position: absolute;
  bottom: -35rpx;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: url(https://img.alicdn.com/imgextra/i2/O1CN01Ss6wWf1m70Cd7s9s6_!!6000000004906-55-tps-850-211.svg) no-repeat 0 / 100%;
}

.mainImage {
  width: 216rpx;
  margin-top: -10rpx;
}

.taskHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24rpx;
  width: 100%;
}

.description {
  font-family: PingFang SC;
  font-size: 13rpx;
  font-weight: normal;
  line-height: 18rpx;
  text-align: center;
  letter-spacing: normal;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  gap: 10rpx;
}

.divider {
  width: 8rpx;
  height: 0;
  transform: rotate(90deg);
  z-index: 1;
  border-radius: 8rpx;
  border: 1rpx solid var(--border-primary);
}