.dataBoard {
    display: flex;
    flex-direction: column;
}

.dataBoardContentWrapper {
    display: flex;
    gap: 16px;
    width: 100%;
}

.dataBoardContentWrapper > * {
    flex: 1;
    min-width: 0;
}

.dataBoardContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-sizing: border-box;
    width: 100%;
    flex: 1;
}

.dataBoardContentHeader {
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 0;
}

.dataBoardContentHeaderTitle {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal;
    color: var(--text-tertiary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataBoardContentHeaderIcon {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.dataBoardContentBodyValueWrapper {
    display: flex;
    align-items: center;
    gap: 2px;
}

.dataBoardContentBodyValue {
    height: 23px;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: var(--text-primary);
    font-family: AlibabaSans102;
}

.dataBoardContentBodyValueUnit {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2px;
    justify-content: flex-start;
    line-height: 16px;
    min-width: 0;
    overflow: hidden;
}

.dataBoardContentBodyValueUnitDivider{
    font-size: 13px;
    font-weight: normal;
    line-height: 13px;
    letter-spacing: normal;
    /* Text/Primary */
    /* 样式描述：主要文字 */
    opacity: 0.16;
    color: var(--text-primary);
}

.dataBoardContentBodyValueUnitText {
    font-size: 13px;
    font-weight: normal;
    line-height: 13px;
    letter-spacing: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.dataBoardContentBodyTrend {
    display: flex;
    align-items: center;
    gap: 4px;
}

.dataBoardContentBodyTrendIcon {
    width: 12px;
    height: 12px;
}

.dataBoardContentBodyTrendValue {
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal;
}

.dataBoardContentItem {
    display: flex;
    align-items: center;
    padding: 0px 16px 0px 0px;
    gap: 12px;
}

.btn {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 6px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #E7E8EE;
    cursor: pointer;
}

.btn:hover {
    background: #F7F7FA;
}

.btnText {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal;
    color: var(--text-primary);
}
