.differenceCardContent {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    gap: 4px;
}

.differenceCardContentText {
    font-size: 12px;
    color: #7B7B8D;
}

.loadingSpin {
    animation: spin 1s linear infinite !important;
    width: 16px !important;
    height: 16px !important;
}

/* 旋转动画 */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
