.edit-supply-goods {
  .commonTable {
    margin-top: 20px;
    .dataTable {
      padding-bottom: 0;
    }
  }
}

.number-picker {
  .next-input.next-medium {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }
}

.supply-goods-block {
  padding: 0 !important;
}

.logistics-infor {
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.newWorkLayout .newWorkLayout-header {
  margin-bottom: 12px;
}