/**
 * 找商表格 - 样式文件
 */

.supplierSearchTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;

  :global {
    .ant-table {
      font-size: 13px;
      border: 1px solid #F3F3F6;

      .ant-table-thead>tr {
        border-bottom: 1px solid #F3F3F6;
        height: 44px !important;
      }

      .ant-table-thead>tr>th {
        background: #FBFBFD;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        letter-spacing: normal;
        color: #1D1E29;
        padding: 12px !important;
        box-sizing: border-box !important;

        // &::after,
        &::before {
          display: none !important;
        }
      }

      .ant-table-tbody>tr>td {
        background: #FFFFFF;
        border-bottom: 1px solid #F3F3F6;
        padding: 0;
      }

      .ant-table-tbody>tr:hover>td {
        background: #FFFFFF !important;
      }
    }
  }
}



.supplierRecommendTitle {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  flex-shrink: 0;
  letter-spacing: normal;
  color: #1D1E29;
  margin-bottom: 12px;


  &::before {
    position: relative;
    display: inline-block;
    content: ' ';
    margin-left: 4px;
    margin-right: 8px;
    border-radius: 1px;
    background: #6150FF;
    width: 4px;
    height: 12px;
  }
}

.supplierRecommendContent {
  padding: 16px;
  border-radius: 12px;
  background: #FBFBFD;
  margin-bottom: 42px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  color: #1D1E29;
  flex-shrink: 0;
}

.supplierSearchContent {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.supplierRecommendTable {
  width: 100%;

  .createInquiryModeTable {
    :global {
      td {
        cursor: pointer;
      }

      .ant-table-row-selected {
        td {
          background: #F4F4FC !important;
        }
      }

      .ant-table-tbody>tr:hover>td {
        background: #F4F4FC !important;
      }
    }
  }
}

// 供应商信息列
.supplierInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 200px;
  padding: 12px;

  .companyName {
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: #1D1E29;

    &:hover {
      color: #6150FF;
    }
  }

  .supplierBadges {
    display: flex;
    flex-direction: row;
    gap: 8px 6px;
    align-items: center;
    flex-wrap: wrap;
  }
}

// AI总览列
.aiHeader {
  display: flex;
  align-items: center;
  gap: 4px;


  .aiIcon {
    width: 16px;
    height: 16px;
    color: #6150FF;
  }

  .aiText {
    font-size: 14px;
    font-weight: 500;
    color: #6150FF;
  }
}

.aiSummary {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 12px;

  .aiSummaryItem+.aiSummaryItem {
    margin-top: 4px;
  }

  .aiSummaryItem {
    position: relative;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: normal;
    color: #1D1E29;
    display: flex;
    align-items: center;

    // &::before {
    //   display: inline-block;
    //   position: relative;
    //   content: ' ';
    //   left: 0;
    //   top: 0;
    //   width: 2px;
    //   height: 2px;
    //   margin: 0 6px 0 4px;
    //   border-radius: 50%;
    //   background: #1D1E29;
    // }
  }
}

// 用户需求解析列
.demandAnalysis {
  width: 200px;
  max-width: 200px;
  padding: 12px;
  display: flex;
  align-items: center;

  .demandAnalysisList {
    display: flex;
    flex-direction: column;
    margin-right: 6px;
  }

  .eyeIcon {
    flex-shrink: 0;
    margin-left: auto;
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0.5px solid #E7E8EE;
    color: #7B7B8D;

    &:hover {
      background: #F7F7FA;
      ;
    }
  }


  .demandItem+.demandItem {
    margin-top: 6px;
  }

  .demandItem {
    display: flex;
    align-items: center;

    .demandIcon {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      margin-right: 4px;
      color: #F55353;

      &.isSatisfy {
        color: #21A84A;
      }
    }

    .demandText {
      font-size: 13px;
      font-weight: normal;
      line-height: 18px;
      color: #1D1E29;
    }
  }
}

// 主营类目列
.mainCategory {
  width: 240px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  color: #1D1E29;
  padding: 12px;
}

.providerKjCustomTags {
  width: 200px;
  max-width: 200px;
  padding: 12px;

  .providerKjAttributesList {
    width: 100%;
  }

  .providerKjCustomTagsItem+.providerKjCustomTagsItem {
    margin-top: 8px;
  }

  .providerKjCustomTagsItem {

    .providerKjCustomTagsText {
      font-size: 13px;
      font-weight: normal;
      line-height: 18px;
      letter-spacing: normal;
      color: #1D1E29;
      width: max-content;
      max-width: 100px;
    }
  }

  // 按钮样式
  .expandButton {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: transparent;
    border: none;

    .buttonText {
      font-size: 13px;
      font-weight: normal;
      line-height: 18px;
      letter-spacing: normal;
      color: #6150FF;
    }

    .rightIcon {
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      color: #6150FF;
      transition: transform 0.2s ease;
    }

    &.open .rightIcon {
      transform: rotate(180deg);
    }
  }
}

// 商家服务列
.merchantService {
  display: flex;
  gap: 20px 24px;
  width: 512px;
  min-width: 512px;
  // max-width: 100%;
  flex-wrap: wrap;
  padding: 20px;

  .serviceItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100px;
    overflow: hidden;

    .serviceValue {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: normal;
      color: #1D1E29;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }

    .serviceLabel {
      white-space: nowrap;
      font-size: 13px;
      font-weight: normal;
      line-height: 18px;
      letter-spacing: normal;
      color: #7C7F9A;
      max-width: 100%;
      // 最多两行超出省略按照单词换行
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
}

// 推荐商品列
.recommendedProducts {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
  width: 300px;
  padding: 12px;

  .productCard {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 84px;
    transition: opacity 0.2s;

    // &:hover {
    //   opacity: 0.8;
    // }

    .productImage {
      width: 84px;
      height: 84px;
      border-radius: 4px;
      object-fit: cover;
      cursor: pointer;
    }

    .productInfo {
      display: flex;
      flex-direction: column;
      gap: 2px;

      .productTitle {
        cursor: pointer;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        color: #1D1E29;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-wordl;
        height: 40px;

        &:hover {
          color: #6150FF;
        }
      }

      .productPrice {
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        color: #FF4000;
        font-family: 'AlibabaSans102-Medium', 'PingFang SC', sans-serif;
        white-space: nowrap;
        text-align: left;
      }
    }
  }
}

.demandAnalysisPopover {
  width: auto;

  :global {
    .ant-popover-inner {
      padding: 0 0;
      border-radius: 16px;
      background: #FFFFFF;
      box-sizing: border-box;
      border: 1px solid #F3F3F6;
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.04);
    }
  }
}

.supplierSearchBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 52px;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  z-index: 100;
  background: #FFFFFF;

  // 取消按钮的渐入渐出效果
  .cancelButton {
    opacity: 0;
    transform: translateX(-10px);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    max-width: 0;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    border-color: #6E50FF;
    color: #6E50FF;

    &.show {
      opacity: 1;
      transform: translateX(0);
      pointer-events: auto;
      max-width: 200px;
      padding: 4px 15px !important;
    }
  }

  // 主按钮样式
  .primaryButton {
    transition: all 0.3s ease-in-out;
  }

  // 按钮文本过渡
  .buttonText {
    display: inline-block;
    transition: opacity 0.2s ease-in-out;

    &.confirmMode {
      animation: textFadeIn 0.3s ease-in-out;
    }
  }

  @keyframes textFadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.supplierReportIcon {
  display: flex;
  align-items: center;
  padding: 3px 6px;
  gap: 6px;
  border-radius: 6px;
  background: var(--text-white);
  border: 1px solid rgba(253, 150, 60, 0.2);
}

.supplierReportText {
  flex: 1;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #F77B0E;
  /* 自动换行，单词换行 */
  white-space: normal;
  word-break: break-all;
}

.supplierSearchWrapper {
  position: sticky;
  top: 0;
  z-index: 101;
  background: var(--fill-white);
}