.line {
  /* 自动布局子元素 */
  width: 35px;
  height: 0;
  transform: rotate(180deg);
  z-index: 0;
  border: 1px dashed rgba(110, 80, 255, 0.3);
  border-radius: 35px;
}

.longline {
  width: 45px;
  height: 0;
  transform: rotate(180deg);
  z-index: 0;
  border: 1px dashed rgba(110, 80, 255, 0.3);
  border-radius: 35px;
}

.tabContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.tabTitle {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  line-height: 24px;
  color: #bbbdca;

  cursor: pointer;

  margin-left: 28px;
  margin-right: 28px;
}

.tabLabel {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #BBBDCA;
  font-family: FZLTHProS;
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
}

.tabTitle .iconWrapper svg {
  color: #bbbdca;
}

.tabTitle .iconWrapper svg path {
  fill: #bbbdca !important;
}

.activeTabTitle {
  background: linear-gradient(141deg, #c78fff 9%, #6e50ff 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  .tabLabel {
    background: linear-gradient(141deg, #C78FFF 9%, #6E50FF 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.activeTabTitle .iconWrapper svg {
  background: linear-gradient(146deg, #FEA7FF -38%, #6E50FF 62%, rgba(110, 80, 255, 0.48) 83%, #6E50FF 109%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.activeTabTitle .iconWrapper svg path {
  fill: #8b6fff !important;
}

.contentWrapper {
  position: relative;
  width: 100%;
  z-index: 20;
}

.content {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  pointer-events: none;
  z-index: 1;
}

.content.active {
  opacity: 1;
  visibility: visible;
  position: relative;
  z-index: 20;
  pointer-events: auto;
}

.content.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}

.titleContainer {
  width: 466px;
  height: 272px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 116px;
}

.titleCN {
  font-family: FZLTHProB;
  font-size: 50px;
  text-transform: capitalize;
  letter-spacing: normal;
  background: linear-gradient(152deg, #fea7ff -10%, #6e50ff 49%), #6e50ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-right: 4px;
  display: flex;
  align-items: center;
}

.agentEN {
  font-family: Poppins-Bold;
  font-size: 50px;
  text-transform: capitalize;
  color: #6e50ff;
  display: flex;
  align-items: center;
}

.desc {
  font-family: PingFang SC;
  font-size: 16px;
  line-height: 28px;
  color: #1d1e29;
  margin-top: 24px;
}

.btn {
  /* 自动布局子元素 */
  width: 261px;
  height: 48px;
  /* 自动布局 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 21px;
  gap: 8px;
  position: relative;
  z-index: 30;

  /* 四角圆角/8-L-大卡片类 */
  /* 样式描述：商品卡，最外层大卡片，搜索框，大输入框，气泡，Toast，大按钮等 */
  border-radius: 8px;
  background: #000;
  border-color: #000;

  font-family: PingFang SC;
  font-size: 20px;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.btn:hover {
  background: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
}

.btnIcon {
  color: #fff;
  width: 28px;
  height: 28px;
}

.btnIcon path {
  fill: #fff !important;
}

.contentImage {
  width: 671.4px;
  height: 452.7px;
  margin-top: 32px;
}